<html>
<head>
  <%- include head.ejs %>
  <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
  <%- include navbar.ejs %>
  <div class="container navbar-spacer">
    <div class="title">
      <h1>Central African Preaching Academy</h1>
    </div>
  </div>
    <div class="video-wrapper">
      <iframe src="https://player.vimeo.com/video/146530396?title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <section class="mission">
      <div class="center subtitle">
        <h2>Our Mission</h2>
      </div>
      <div class="container center description">
        <div class="col-lg-8 col-lg-offset-2">
          <hr>
          <p>Central African Preaching Academy exists to exalt Christ and strengthen His church in Africa by training pastors to understand, live, and effectively communicate God’s Word.</p>
          <br>
          <p>We are a part of The Master’s Academy International, a non-profit organization providing educational and financial resources to a fellowship of biblically sound training ministries world-wide.</p>
        </div>
      </div>
    </section>
  <div class="container">
    <div class="center subtitle">
      <h2>Our Distinctives</h2>
    </div>
    <hr>
    <div class="col-md-3">
      <h3>An Unswerving Commitment to Preaching the Scriptures</h3>
      <p>The Bible is the inspired, inerrant, sufficient Word of God (2 Tim 3:16-17). Therefore, learning to accurately interpret and faithfully proclaim the Biblical text is central to our training.</p>
    </div>
    <div class="col-md-3">
      <h3>Learning that Impacts Living</h3>
      <p>Pastoral ministry requires more than academic excellence. Those who desire to devote their lives to ministry must not simply know the Scriptures, but also live them (1 Tim 4:16). Hence we seek to cultivate holiness, self-sacrifice, and other Christ-like character qualities in our students’ lives.</p>
    </div>
    <div class="col-md-3">
      <h3>Prioritizing the Local Church</h3>
      <p>God has given pastors to the church to equip the saints for the work of the ministry and to build up the body of Christ (Eph 4:11-12). Consequently, our curriculum requires students to complete practical ministry assignments in their churches. Our prayer is that our graduates would be dedicated servant leaders of the local church.</p>
    </div>
    <div class="col-md-3">
      <h3>Pastors Training Pastors</h3>
      <p>Our teaching faculty is composed of pastors, bringing years of fruitful ministry experience and proven spiritual leadership in a church context to the classroom environment. As they pass on what they have learned to our students, we hope that they will in turn pass on these things to other faithful men (2 Tim 2:22).</p>
    </div>
  </div>
  <section class="learn-more">
    <div class="container center">
      <p>Want to learn more? <a href="/students">Meet our students</a>.</p>
    </div>
  </section>
  <%- include footer.ejs %>
</body>
</html>