<html>
<head>
  <%- include head.ejs %>
</head>
<body>
<%- include navbar.ejs %>
<div class="container navbar-spacer">
  <div class="title">
    <h1>Donate Books to CAPA's Library</h1>
  </div>
  <p>CAPA needs your help to acquire books for our library. Here's how you can help:</p>
  <ol>
    <li>Browse our <a href="https://docs.google.com/spreadsheets/d/1iBKDq-Lo06hp1tAA1eCuvYeGl76VzdqCyWViWxuC4_c/edit?usp=sharing" target="_blank">wish list</a> and see which books you would like to donate. We're happy to receive new books or used ones that are in good condition.</li>
    <li>In the wish list document, put your name and email next to the books that you would like to donate.</li>
    <li>
      Ship the books to:
      <blockquote>
        Maranatha Bible Church<br>
        Attention: Malawi<br>
        4426 Stony Creek<br>
        Comstock Park, MI 49321
      </blockquote>
      Please make sure that they will arrive there no later than May 31.
    </li>
  </ol>
  <p>From there, the books will be put on a shipping container to arrive at CAPA's doorstep in September.</p>
  <p>We are confident that God will use the rich theology in these books to make our students better pastors and worshippers. Thank you for partnering with us!</p>
</div>
<%- include footer.ejs %>
</body>
</html>