<footer>
    <div class="row">
        <h3>Central African Preaching Academy</h3>
        <p><a href="http://www.capamalawi.org/" target="_blank">capamalawi.org</a> | Lilongwe, Malawi</p>
    </div>
</footer>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
