<!-- Soli Deo Gloria! -->
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href="/stylesheets/bootstrap.css">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/stylesheets/style.css'>
