<nav class="navbar navbar-fixed-top navbar-collapse">
    <!--<div class="navbar">-->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="GOC" src="/images/capa.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav" >
                <li><a href="#">Home</a></li>
                <li><a href="#">Needs</a></li>
                <li><a href="#">Sponsor</a></li>
            </ul>
        </div>
    </div>
</nav>