<html>
<head>
    <%- include head.ejs %>
    <link rel="stylesheet" href="/stylesheets/needs.css">
</head>
<body>
<%- include navbar.ejs %>
<img class="img-responsive navbar-spacer" src="/images/funding.png">
<%- include footer.ejs %>
</body>
</html>