<html>
<head>
    <%- include head.ejs %>
    <link rel="stylesheet" href="/stylesheets/needs.css">
</head>
<body>
<%- include navbar.ejs %>
<img class="img-responsive navbar-spacer" src="/images/funding.png">
<div class="container">
    <p>To sponsor a student, you'll notice that on each student page, there is a link to provide monthly financial assistance--a scholarship--for that student. These funds are used to cover the cost of their textbooks, breakfast and lunch each day, library and office supplies, and, for the M.Div students, a laptop and Internet access.</p>
    <p>When you sponsor a student, you will receive several updates a year on their progress, about what they are learning, how they are applying it, and the ways God is working in their lives and in their church.</p>
    <p>Here is what some students have to say about CAPA's affordability:</p>
    <blockquote>
        "First thing is the affordability of the school fees. The school is very affordable. And this thing of training pastors at an affordable—because many pastors, it’s hard for them to raise funds for themselves. Now the fact that CAPA is offering that training at an affordable price, it is giving them room to come and study."
        <br>
        - BLESSINGS GONDWE
    </blockquote>
    <blockquote>
        "To be trained, to attend a Master’s in Divinity is not a joke, because we need to cough up a lot of money to go for this. But CAPA is offering that for a reasonable amount. Frankly speaking, it is almost for free, because we are talking about food, accommodation. If we try to equate the cost, it is really like for free. So CAPA is doing good to me."
        <br>
        - WINFRED MAGAWA
    </blockquote>
    <blockquote>
        "Yeah, I really thank CAPA most a lot of things, everything. Because what I pay and the reception I am receiving here, it is totally different. Yeah, because the breakfast itself is about the money I paid. The lunch itself, the books I’ve received, yeah, the powerful teachings I’m getting, it’s so wonderful. So I can’t imagine with what I’ve paid."
        <br>
        - DANIEL MKWETEZA
    </blockquote>
    <p>This is possible only with your help, so thank you for partnering with us to train the current generation of pastors in Malawi!</p>
</div>
<%- include footer.ejs %>
</body>
</html>
