<html>
<head>
  <%- include head.ejs %>
</head>
<body>
<%- include navbar.ejs %>
<div class="container navbar-spacer">
  <div class="title">
    <h1>Newsletters</h1>
  </div>
  <ul>
    <li><a href="/newsletters/CAPA%20Newsletter%20December%202015.pdf">December 2015</a></li>
    <li><a href="https://gallery.mailchimp.com/6f270da409060c219414680f3/files/CAPANewsletter.pdf">December 2014</a></li>
  </ul>
</div>
<%- include footer.ejs %>
</body>
</html>