<html>
<head>
  <%- include head.ejs %>
</head>
<body>
<%- include navbar.ejs %>
<div class="container navbar-spacer">
  <div class="title">
    <h1>Help Read Student Papers</h1>
  </div>
  <p>English is a second (or third) language for CAPA students, so writing a paper for class is a daunting task. To help our students out, we’re looking for readers to help smooth out their English and correct basic grammar.</p>
  <p>How does this work?</p>
  <ul>
    <li>Students will email their papers to readers on a Tuesday.</li>
    <li>Readers will make edits in Microsoft Word, using the Track Changes feature (we will provide instructions on how to do this).</li>
    <li>Readers need to return the papers by Saturday at midnight.</li>
    <li>Readers will have an extra day for each day that the paper is submitted late.</li>
    <li>A list of expected paper editing dates can be found here. [link forthcoming]</li>
  </ul>
  <p>To register as a reader, send a blank email to <a href="mailto:capamalawi+volunteer@gmail.com" target="_blank">capamalawi+volunteer@gmail.com</a>.</p>
  <p>Thank you for your help!</p>
</div>
<%- include footer.ejs %>
</body>
</html>