.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tmai-logo {
    width: 12rem;
}

section.mission {
    margin-bottom: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(242, 241, 235);
}

.subtitle h2 {
    font-size: 4rem;
}

.description {
    font-size: 1.3rem;
}

section.learn-more {
    margin-top: 5rem;
    background-color: #47413C;
    padding: 5em;
}

section.learn-more p {
    color: #fff;
    font-size: 2rem;
}

section.learn-more a {
    color: #62ABE1;
}

footer {
    margin-top: 0;
}