body{
    position: relative;
}

#intro {
    background-color: #e7e9a3;
    /*background-image: url(/images/capa.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: co;*/
    /*background-size: contain;*/
    height: auto;
    padding: 9%;
}

/*#Intro p {*/
    /*margin-left: 30rem;*/
    /*padding: 4rem 5rem;*/
/*}*/

p {
    color: #5B5E53;
}

h1,
h2 {
    color: #5B5E53;
}



#students h2 {
    text-transform: uppercase;
}

#students {
    text-align: center;
}

#meet-the-students {
    /*padding-top: 9%;*/
    /*padding-bottom: 5rem;*/
    padding: 9%;
}

.student {
    margin: 1rem 0;
    display: inline;
}



#students img {
    border-radius: 100%;
}

.btn.btn-default {
    background-color: #e1b67c;
    color: #ffffff;
}


.button {
    text-transform: uppercase;
    position:absolute;
    margin-left:50%;
    margin-right:50%;
    bottom:  5px;
}
