body{
    position: relative;
}

.thankyou{
    text-align: center;
    color: white;
}
.thank-img{
    margin: 2rem 0 2rem 0;
    color: white;
}

#intro {
    background-color: #62abe1;
    /*background-image: url(/images/capa.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: co;*/
    /*background-size: contain;*/
    height: auto;
    padding: 3rem 8.5rem 4.5rem 8.5rem;
}
#intro p{
    color: white;
}
.thankyou h1{
    text-decoration: underline;
    font-weight: bolder;
    color: white;
    padding-bottom: .6rem;
}
/*#Intro p {*/
    /*margin-left: 30rem;*/
    /*padding: 4rem 5rem;*/
/*}*/

p {
    color: #5B5E53;
}

h1,
h2 {
    color: #5B5E53;
}



#students h2 {
    font-size: 3rem;
    margin: 3rem;
    margin-bottom: 2rem;
}

#students {
    text-align: center;
}

#meet-the-students {
    margin-bottom: 3.5rem;
}
.diploma-btn{
    margin-right: 6rem;
}
.mdiv-btn{
    margin-right: 6rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.show-all-btn{
    padding-right: 2.3rem;
    padding-left: 2.3rem;
}
.student {
    margin: 3rem 0;
    display: inline;
}
.student-name{
    max-height: 1rem;
}


#students img {
    border-radius: 100%;
}

.btn.btn-default {
    background-color: #e1b67c;
    color: #ffffff;
}


.button {
    text-transform: uppercase;
    position:absolute;
    margin-left:50%;
    margin-right:50%;
    bottom:  5px;
}
