/*can remove later*/
.detail-list{
    right: 42%;
    font-size: 1.3rem;
}
.map{
    right: 25%;
}
.support{
    padding: 1rem 3rem;
}
.desktop-ver{
    display: none;
    visibility: hidden;
}
@media screen and (min-width: 1000px){

    .mobile-ver{
        display: inline;
        visibility: hidden;
    }
    .detail-list{
        right: 27%;
        font-size: 0.8rem;
    }
    .desktop-ver{
        display: inline;
        visibility: visible;
    }
    .map{
        right: 5%;
    }
    .support{
        padding: .5rem 2rem;
    }
}

/*end of copied script may overlap with home*/


hr{
    border-style: solid;
    border-color: #e1b67c;
    border-width: 4px 0 0 0;
    margin: 0;
}
.audio-style{
    margin: 1.2rem 0;
    text-align: center;
}
.btn{
    margin-top: 5rem;
}
.block-name{
    background-color: rgba(56, 56, 56, 0.83);
    padding: 2rem;
}
.container{

    display: block;
    padding-top: 5rem;
}
.detail-list{


    display: inline;
    z-index: 2;
    list-style: none;
    text-transform: uppercase;

    font-weight: 500;
    margin-top: 3rem;

}
.detail-list li{
    margin-bottom: 2rem;
}
.header_name{

    display: block;
    margin-bottom: 4rem;
    background-color: rgba(219, 143, 0, 0.52);
    text-transform: uppercase;
    color: white;
    display: none;

}
.interview_a{
    margin: 0 0 5rem 0;
    font-size: initial;
}
.interview_title{
    text-align: center;
}
.interview h3{
    text-align: center;
}
.list{
    margin-top: 5rem;
    display: inline;
    height: 20rem;

}
.map{
    position: absolute;
    height: 25rem;
    width: auto;
    margin: auto;
    display: inline;
    opacity: .8;
}
.middle{
    text-align: center;
}

.mobile-ver{
    margin: 2rem 0 2rem 0;
}
.profilePic{
    margin: auto;
    position: relative;
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display: block;
}
.interview_q>a{
    color: #7a6f67;
    text-decoration: none;
}
.interview_q>a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.response_a{
    margin: 2rem;

}
.support{
    font-weight: 900;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: rgba(219, 143, 0, 0.52);
    color: #7a6f67;
    text-align: center;
}
.support:hover{
    text-decoration: none;
    color: #7a6f67;
}

#details{
    display: block;
    text-align: center;
}
#indiv{
    padding: 0 4rem 0 4rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}
#intro{
    padding: 0 4rem 0 4rem;
}
#quote{
    margin: 0 0 2rem 0;
    text-align: center;
    font-style: italic;
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
}
#more-info{
    margin: 1rem 0 2rem 0;
    display: block;
    font-size: 0.8rem;
}
