body {
    background-color: #f2f1eb;
}

.student {
    margin: 1rem 0;
    display: inline;
}

.student-name {
    margin-top: 8px;
    margin-bottom: 2px;
}

.student-name a {
    color: #808080;
}

.profilePic {
    position: relative;
    display: block;
}

.zero {
    background-color: #62ABE1;
}

.one {
    background-color: #ba5e10;
}

.two {
    background-color: #176ead;
}

.three {
    background-color: #AD7118;
}

.student-name,
.student-program {
    text-align: left;
    font-size: 1rem;
}

.student-program {
    top: 110%;
    font-size: 0.75rem;
    color: #7A6F67;
}

.student-quote {
    position: absolute;
    color: white;
    font-size: 1.3rem;
    line-height: 120%;

    top: 5%;
    bottom: 0;
    left: 5%;
    right: 5%;

    display: none;
}

.button {
    text-transform: uppercase;
    position:absolute;
    margin-left:50%;
    margin-right:50%;
    bottom:  5px;
}

.btn.btn-default {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button.btn-default.mdiv-btn,
button.btn-default.mdiv-btn:hover {
    background-color: #62abe1;
    color: #fff;
    border-color: #62abe1;
}