html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}


/*@media screen and (min-width: 500px) {*/
  /*html,*/
  /*body {*/
    /*font-size: 11px;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 600px) {*/
  /*html,*/
  /*body {*/
    /*font-size: 14px;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 800px) {*/
  /*html,*/
  /*body {*/
    /*font-size: 15px;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 1000px) {*/
  /*html,*/
  /*body {*/
    /*font-size: 14px;*/
  /*}*/
/*}*/

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

footer {
  background-color: #7a6f67;
  margin-top: 5rem;
  padding: 5%;
}

footer p,
footer a {
  color: #ffffff;
}
