html,
body {
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  color: #5B5E53;
}

/*@media screen and (min-width: 500px) {*/
  /*html,*/
  /*body {*/
    /*font-size: 11px;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 600px) {*/
  /*html,*/
  /*body {*/
    /*font-size: 14px;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 800px) {*/
  /*html,*/
  /*body {*/
    /*font-size: 15px;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 1000px) {*/
  /*html,*/
  /*body {*/
    /*font-size: 14px;*/
  /*}*/
/*}*/

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

footer {
  background-color: #62abe1;
  margin-top: 5rem;
  padding: 1.5rem;
}

footer p,
footer a {
  color: #fff;
}

.nav>li>a>img {
  max-width: 1em;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 10px;
  background-color: #fff;
  border: 0;
}

.navbar a {
  color: #62abe1;
  text-decoration: none;
  padding: .5em 0;
}

.nav>li>a,
.nav>li>a:active,
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #fff;
}

.navbar-brand img{
  height: 100%;
  width: inherit;
}

.navbar-brand img.capawhite {
  display: none;
}

.icon-bar{
  background-color: #62abe1;
}

.capa-title{
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 36rem;
  background-image: url(../images/capa-background.jpg);
}

.capa-title h1{
  position: relative;
  top: 12rem;
  color: white;
  font-size: 10rem;

}
